{
  "bot_token": "YOUR_BOT_TOKEN_HERE",
  "styles": [
    {
      "id": "1",
      "name": "داكن",
      "background_image": "backgrounds/black.jpg",
      "blur_value": 0,
      "text_color": "white"
    },
    {
      "id": "2",
      "name": "أنثوي",
      "background_image": "backgrounds/female.jpg",
      "blur_value": 4.0,
      "text_color": "white"
    },
    {
      "id": "3",
      "name": "ورقي",
      "background_image": "backgrounds/paper.jpg",
      "blur_value": 0.0,
      "text_color": "black"
    },
    {
      "id": "5",
      "name": "زهور",
      "background_image": "backgrounds/flower.jpg",
      "blur_value": 8.0,
      "text_color": "white"
    },
    {
      "id": "6",
      "name": "أخضر",
      "background_image": "backgrounds/green.jpg",
      "blur_value": 3.0,
      "text_color": "white"
    }
  ],
  "reciters": [
    {
      "id": "alafasy",
      "name": "العفاسي",
      "folder": "Alafasy_64kbps"
    },
    {
      "id": "minshawy",
      "name": "المنشاوي",
      "folder": "Minshawy_Murattal_128kbps"
    },
    {
      "id": "husary",
      "name": "الحصري",
      "folder": "Husary_128kbps"
    }
  ]
}
